 * {
    padding:0.2vw;
    margin:0;
    box-sizing:border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  background-image: url('../images/bgnotitle2.gif');
  background-repeat: infinite;
  background-position:fixed;
  background-size: cover;
  background-attachment: fixed;
}

.flex-wrapper{
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
    flex-direction: horizontal;
    gap: 4vh;
    width: 100vw;
    margin-left: 1%;
}

.item {
  height: 50px;
  margin: 1vw;
}

button {
  border: none;
  background-color: transparent;
  font-size: 1.5em;
  font-family: 'Arial Narrow Bold', sans-serif;
  font-weight: lighter;
  color: black;
  text-decoration: none;
}

button:hover {
  color: #ff0000;
  cursor: pointer;
  text-decoration: none;
}

h1{
  font-family: "the-seasons", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 4.5em;
  text-align: center;
  margin-top: 7%;
  color: rgb(0, 0, 0);
}

.text-container{
    width: 47.5%;
    position: center center;
    margin: 0 auto; 
    font-size: larger;
    font-weight: lighter;
    font-family: 'Arial Narrow Bold', sans-serif;
    text-align: left;
    margin-top: 2%;
}

/*
.arr{
  font-family: 'Times New Roman', Times, serif;
  position: fixed;
  bottom: 0.5vh;
  margin-bottom: 0.3%;
  margin-left: 0.6%;
  font-size: smaller;
  color: rgb(0, 0, 0);
}
  */